.settings-container.svelte-1i19ct2{display:flex;justify-content:center;align-items:center;min-height:100vh;padding:1rem;overscroll-behavior:none;touch-action:pan-y}h1.svelte-1i19ct2{color:var(--primary);margin:0 0 .5rem;text-align:center}
